# Ignore bundler config.
/.bundle
/vendor/bundle
/next/node_modules
/next/package-lock.json
/next/.next

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development.
.DS_Store
/storage/*
!/storage/.keep
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
.env
