# Ignore bundler config.
.env
node_modules
package-lock.json

# Ignore all logfiles and tempfiles.
*.log
*.keep

# Ignore uploaded files in development.
.DS_Store

# Ignore master key for decrypting credentials and more.
/.docker-sync/*
build
