version: '3'
services:
  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: andrew-tech_development
      MYSQL_USER: root
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"
  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    working_dir: /app
    command: bundle exec rails s -p 3000 -b "0.0.0.0"
    tty: true
    stdin_open: true
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - ./api:/app:cached
      - ./api/.bundle:/usr/local/bundle:cached
      - /app/vendor
      - /app/tmp
      - /app/log
      - /app/.git
  front:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    volumes:
      - ./frontend:/app/:rw,cached
      - /app/node_modules
    working_dir: /app
    command: yarn start
    tty: true
    stdin_open: true
    ports:
      - "8000:3000"


