version: '3'
services:
  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: andrew_tech_development
      MYSQL_USER: root
      MYSQL_PASSWORD: "password"
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_ROOT_HOST: "%"
    ports:
      - "4306:3306"
  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    tty: true
    stdin_open: true
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - api-sync:/api
    command: bundle exec rails s -b 0.0.0.0
  front:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    volumes:
      - frontend-sync:/frontend
    command: yarn start
    tty: true
    stdin_open: true
    ports:
      - "8000:8000"
volumes:
  api-sync:
    external: true
  frontend-sync:
    external: true


