version: '3'
services:
  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: andrew-tech_development
      MYSQL_USER: root
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"
  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    command: bundle exec rails s -p 3000 -b "0.0.0.0"
    tty: true
    stdin_open: true
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - ./api:/app
  front:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    volumes:
      - ./frontend:/app
    command: sh -c " yarn --force && yarn lint && yarn start"
    ports:
      - "8000:3000"


