.rdw-editor-toolbar {
  background-color: #202020;
  z-index: 2;
}
pre {
  .public-DraftStyleDefault-ltr {
    margin: 0;
  }
}
@media screen and (min-width:1024px) {
  .rdw-editor-toolbar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 220px;
  }
}
