version: 2.1
jobs:
  build:
    docker:
        - image: alpine
    steps:
        - checkout
        - run:
            name: Echo Test
            command: echo "CircleCI Test"
  deploy:
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            ${KEY_FINGERPRINT}
      - run:
          name: ssh loging
          command: ssh ${USER_NAME}@${HOST_NAME}
      - run:
          name: git pull
          command: cd 'apps/andrew-tech && git pull'
      - run:
          name: frontend
          command: 'cd frontend && yarn build'
      - run:
          name: api
          command: 'cd ./api && pkill -f puma && bundle exec rails s -e production'
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          filters:
            branches:
              only: master
