span {
  line-height: 2.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: normal !important;
}
h6 {
  font-size: 18px;
}
pre {
  background-color: #ccc;
  font-size: 14px;
  padding: 4px;
  margin: 0;
  .public-DraftStyleDefault-ltr {
    margin: 0;
  }
}
blockquote {
  font-size: 18px;
  border-left: 8px solid #ccc;
  padding: 8px 12px;
  margin: 0;
  color: #333;
  .public-DraftStyleDefault-ltr {
    margin: 0.2em;
  }
}
ol, ul {
  font-size: 18px;
}

.blog {
  img {
    max-height: 200px;
  }
}

body {
  margin: 0;
  color: #333;
  font-family: "Roboto", "Helvetica", "Arial", 'Noto Sans Japanese',"游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  outline: none;
}
input:hover {
  text-decoration: none;
}
button {
  border: none !important;
  outline: none !important;
}
button:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}

.rdw-editor-toolbar {
  background-color: #202020;
  z-index: 2;
}
pre {
  .public-DraftStyleDefault-ltr {
    margin: 0;
  }
}
@media screen and (min-width:1024px) {
  .rdw-editor-toolbar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 220px;
  }
}
